<% header = "Presence analyzer" %>

<!DOCTYPE HTML>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <%block name="title">
            <title>${ header }</title>
        </%block>
        <meta name="keywords" content="" />
        <meta name="description" content=""/>
        <meta name="author" content="STX Next sp. z o.o."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="${ url_for('static', filename='css/normalize.css') }" media="all" rel="stylesheet" type="text/css" />
        <link href="${ url_for('static', filename='css/style.css') }" media="all" rel="stylesheet" type="text/css" />
        <script src="${ url_for('static', filename='js/jquery.min.js') }"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart", "timeline", "table"], 'language': 'pl'});
        </script>
        <script type="text/javascript" src="${ url_for('static', filename='js/scripts.js') }"></script>
        <%block name="head"/>
    </head>
    <body>
        <div id="main">
            <div id="header">
                <h1>${ header }</h1>
                <%include file="nav.html"/>
            </div>
            <div id="content">
                <%block name="header"/>
                <p>
                    <select id="object_id" style="display: none">
                        <option value="">--</option>
                    </select>
                    <img id="profile_pic"/>
                    <div id="chart_div" style="display: none">
                    </div>
                    <div id="loading">
                        <img src="${ url_for('static', filename='img/loading.gif') }"/>
                    </div>
                    <span id="error" style="color: #F00"></span>
                </p>
            </div>
        </div>
    </body>
</html>
