<%inherit file="base.html"/>

<%block name="title">
    <title>Mean time weekday</title>
</%block>

<%block name="head">
    <script type="text/javascript">
        (function($) {
            $(function() {
                var $loading = $('#loading'),
                    $dropdown = $('#object_id'),
                    $profile_pic = $('#profile_pic');
                $.getJSON("/api/v1/users", function(result) {
                    $.each(result, function(item) {
                        $dropdown.append($('<option />', {
                            value: this.user_id,
                            text: this.name
                        }));
                    });
                    $dropdown.show();
                    $loading.hide();
                });
                $('#object_id').change(function() {
                    document.getElementById("error").innerHTML = "";
                    var selectedUser = $('#object_id').val(),
                        $chartDiv = $('#chart_div');
                    if(selectedUser) {
                        $loading.show();
                        $chartDiv.hide();

                        $.getJSON("/api/v1/photo_url/" + selectedUser, function(result) {
                            $profile_pic.show();
                            $profile_pic.attr('src', result);
                        });

                        $.getJSON("/api/v1/mean_time_weekday/" + selectedUser, function(result) {
                            if (result.length > 0){
                                var data = new google.visualization.DataTable(),
                                    chart = new google.visualization.ColumnChart($chartDiv[0]),
                                    formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'}),
                                    options = {
                                        hAxis: {title: 'Weekday'}
                                    };
                                $.each(result, function(index, value) {
                                    value[1] = parseInterval(value[1]);
                                });
                                data.addColumn('string', 'Weekday');
                                data.addColumn('datetime', 'Mean time (h:m:s)');
                                data.addRows(result);
                                formatter.format(data, 1);

                                $chartDiv.show();
                                $loading.hide();
                                chart.draw(data, options);
                            } else {
                                $loading.hide();
                                document.getElementById("error").innerHTML = "No data provided.";
                            }
                        });
                    } else {
                        $chartDiv.hide();
                        $profile_pic.hide();
                    }
                });
            });
        })(jQuery);
    </script>
</%block>

<%block name="header">
    <h2>Presence mean time by weekday</h2>
</%block>
